{% extends 'main/base_ice.html' %}
{% load static %}

{% block name_ice  %}
ПЛОМБИР
{% endblock %}

{% block img_ice  %}
<img src="{% static 'cream/img/plombir.jpg' %}" alt="">
{% endblock %}

{% block info_ice  %}
Пломбир (фр. glace plombières от французского города Пломбьер-ле-Бен[fr] (фр. Plombières-les-Bains)) — сливочное мороженое, приготовленное из цельного
молока или сливок с повышенным количеством молочного жира, яиц, ароматическими и вкусовыми добавками
(ваниль, миндальная эссенция; шоколад, орехи, фрукты). Несмотря на французское происхождение, мороженое-пломбир широко распространено на постсоветском пространстве.
{% endblock %}