{% extends 'main/base_ice.html' %}
{% load static %}

{% block name_ice  %}
СЛИВОЧНОЕ МОРОЖЕННОЕ
{% endblock %}

{% block img_ice  %}
<img src="{% static 'ice_cr/img/slivochnoe.jpg' %}" alt="">
{% endblock %}

{% block info_ice  %}
Сливочное мороженное — это продукт, основу которого составляют молоко и сливки. Он менее калориен, нежели пломбир, но
ничуть не уступает ему по вкусовым качествам. Такое мороженное считается одним из классических десертов: популярность его, никогда не утратит своей актуальности.
{% endblock %}