{% extends 'main/base_ice.html' %}
{% load static %}

{% block name_ice  %}
ЩЕРБЕТ
{% endblock %}

{% block img_ice  %}
<img src="{% static 'sherbet/img/chrbet.jpg' %}" alt="">
{% endblock %}

{% block info_ice  %}
Щербет – это легкое фруктовое мороженое, приготовленное без использования молока и сливок. Его по-другому еще называют
сорбетом. И это, кстати, считается правильным названием, ведь традиционный щербет – это  восточный напиток, который готовят из ягод и ароматных пряностей.
{% endblock %}